<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/soul_painter/user_profile/style.css">
    <title>Computer</title>
</head>
<body>
    <div id="box">
        <div class="head_bar wood">
            <h1 id="header">
                Computer
                <a href="/profile">
                    <button class="button_back">&#x2715</button>
                </a>
            </h1>
        </div>
        <div id="voc_record">
            <u1>
                <% for (var key in data.vocab) { %>
                    <li><%= key %> - <%= data.vocab[key] %></li>
                <% } %>
            </u1>
        </div>
    </div>
</body>
</html>
