#box{
    border: 4px solid;
    width: 400px;
    height: 680px;
    text-align: center;
    background-color: #fff;

    transform: translateX(500px); /*500px*/
}

#header{
    position: relative;
    left: 0px;
}

.button_back{
    font-size: 30px;
    position: absolute;
    top: -10px;
    left: 350px;
    border-radius: 100%;
    border: None;
    background-color: black;
    color: white;
    z-index: 4;
}

.button_back:hover {
    color: black;
    background-color: white;
}

#headshot{ /*headshot picture in user profile page*/
    float: left;
    margin: 15px;
    width: 90px;
    border: blue 3px solid;
}

#intro{ /*id, username*/
    font-size: 20px;
    text-align: left;
}

#voc_record{ /*record for each topic*/
    font-size: 20px;
    text-align: left;
    margin-left: 15px;
}