#box{
    border: 4px solid;
    width: 400px;
    height: 680px;
    text-align: center;
    background-color: #ffffff;

    transform: translateX(500px); /*500px*/
}

#header{
    position: relative;
    left: 0px;
}

#box2{
    border: 2px solid;
    width: 360px;
    height: 150px;
    background-color:burlywood;
    z-index: -1;
    transform: translate(20px, 10px);
}

#time_record{
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
}

#voc_list{
    width: 360px; 
    height: 250px;
    border: 2px solid;
    background-color: #fff; 
    transform: translate(5px, 30px);
}

#play_again{
    transform: translate(0px, 0px);
    font-size: 25px;
    width: 200px;
    height: 40px;
}

#button_set{
    transform: translate(100px, -135px);
    z-index: 3;
}

#leave_button{
    width: 90px;
    height: 30px;
    font-size: 20px;
}

#pointhead{
    width: 130px;
    transform: translate(30px, 30px);
}