<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="soul_painter/user_profile/style.css">
    <title>User Profile</title>
</head>
<body>
    <div id="box">
        <!-- header and exit button -->
        <div class="head_bar wood">
            <h1 id="header">
                User Profile
                <a href="./menu">
                    <button class="button_back">&#x2715</button>
                </a>
            </h1>
        </div>
        <!-- ID, username, and headshot -->
        <div id="intro">
            <img src="soul_painter/user_profile/squirrel_profile.png" id="headshot">
            <br>
            <p><b>Username:</b> <%- data.username %> </p>
            <!-- <p><b>Username: </b>李惟平李惟平李惟平</p> -->
            <br><br>
        </div>    
        <!-- score(time) record -->
        <div class="personal_record">
            <hr>
            <h3>Personal Record</h3>
            <button class="wood button src_button" onclick="changeSrc('/single_record_self');">Single Mode</button>
            <button class="wood button src_button" onclick="changeSrc('/multi_record_self');">Multi Mode</button>
            <br><br>
            <iframe src="/single_record_self" width="300" height="180" id="MyFrame"></iframe>
        </div>
        <!-- voc record -->
        <div class="voc_record">
            <hr>
            <h3>VOC Record</h3>
            <a href="user_profile/common"><button class="wood button topic_button">Common</button></a>
            <a href="user_profile/food"><button class="wood button topic_button">Food</button></a>
            <a href="user_profile/school"><button class="wood button topic_button">School</button></a>
            <br><br>
            <a href="user_profile/traffic"><button class="wood button topic_button">Traffic</button></a>
            <a href="user_profile/sport"><button class="wood button topic_button">Sport</button></a>
            <a href="user_profile/nature"><button class="wood button topic_button">Nature</button></a>
            <br><br>
            <a href="user_profile/GRE"><button class="wood button topic_button">GRE</button></a>
            <a href="user_profile/computer"><button class="wood button topic_button">Computer</button></a>
        </div>
    </div>
    <script src="soul_painter/user_profile/index.js"></script>
</body>
</html>