<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="soul_painter/user_profile/style.css">
    <title>User Profile</title>
</head>
<body>
    <div class="container" id="box">
        <!-- header and exit button -->
        <div class="container">
            <h1 id="header">
                User Profile
                <a href="./menu">
                    <button class="button_back">&#x2715</button>
                </a>
            </h1>
        </div>
        <hr>
        <!-- ID, username, and headshot -->
        <div id="intro">
            <img src="soul_painter/user_profile/img.jpg" id="headshot">
            <br>
            <p><b>Username:</b> <%- data.username %> </p>
            <br>
            <br>
        </div>    
        <hr>
        <!-- score(time) record -->
        <div>
            <h3>Personal Record</h3>
            <button onclick="changeSrc('/single_record_self');">Single Mode</button>
            <button onclick="changeSrc('/multi_record_self');">Multi Mode</button>
            <br><br>
            <iframe src="/single_record_self" width="300" height="150" id="MyFrame"></iframe>
        </div>
        <hr>
        <!-- voc record -->
        <h3>VOC Record</h3>
        <div>
            <a href="user_profile/common">
                <button>Common</button>
            </a>
            <a href="user_profile/food">
                <button>Food</button>
            </a>
            <a href="user_profile/school">
                <button>School</button>
            </a>
            <a href="user_profile/traffic">
                <button>Traffic</button>
            </a>
            <a href="user_profile/sport">
                <button>Sport</button>
            </a>
            <a href="user_profile/nature">
                <button>Nature</button>
            </a>
            <a href="user_profile/GRE">
                <button>GRE</button>
            </a>
            <a href="user_profile/computer">
                <button>Computer</button>
            </a>
        </div>
    </div>
    <script src="soul_painter/user_profile/index.js"></script>
</body>
</html>