<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../soul_painter/ranking/style.css">
    <title>Ranking</title>
</head>
<body>
    <div id="box">
        <!-- header and exit button -->
        <h1 id="header">
            Ranking
            <!-- link for back button requires change -->
            <!-- <a href="../end/win_end.html">  -->
            <a href=<%= source%> >
                <button class="button_back">&#x2715</button>
            </a>
            <!-- </a> -->
        </h1>
        <!-- record -->
        <div>
            <button class="wood button" onclick="changeSrc('/single_record_global');">Single Mode</button>
            <button class="wood button" onclick="changeSrc('/multi_record_global');">Multi Mode</button>
            <br><br>
            <iframe src="/single_record_global" width="350" height="530" id="MyFrame"></iframe>
        </div>
    </div>
    <script>
        function changeSrc(change) {
            document.getElementById("MyFrame").src=change;
        }
    </script>
</body>
</html>