.hole {
    text-align: center;
    position: fixed;
    width: 600px;
    height: 300px;
    transform: translate(450px, 200px);
    box-shadow: 0 0 0 99999px black;
    z-index: 3;
}

.pending_icon{
    position: fixed;
    width: 180px;
    z-index: 2;
    margin-top: 300px;

    animation: mySlide;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2.5s;
}

@import url('https://fonts.cdnfonts.com/css/comic-sans');
#text{
    font-size: 30px;
    font-family: 'Comic Sans', sans-serif;
    transform: translateY(-20px);
}

@keyframes mySlide{
    from{margin-left: 20%}
    to{margin-left: 80%;}
}