/*<div id="score">0</div>
<div id="vocab">coast</div>
<div id="meaning_options">
    <div class="meaning_option" id="option1">compose or represent</div>
    <div class="meaning_option" id="option2">show an image of</div>
    <div class="meaning_option" id="option3">the shore of a sea or ocean</div>
    <div class="meaning_option" id="option4">deem to be</div>
</div>*/

body {
    font-family: Arial, Helvetica, sans-serif;
}


#vocab {
    font-weight: 500;
    font-size: 25pt;
    text-align:  center;
}

.meaning_option {
    border: solid;
    border-radius: 5pt;
    font-size: 15pt;
    margin: 5px;
    padding: 2px;
}

.meaning_option:hover {
    background-color: rgb(220,220,220);
}

.meaning_option:active {
    background-color: rgb(190,190,190);
}

#wrong {
    flex-flow:row wrap;
    display: flex;
}